<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div>
  <% if @jobs && @jobs.any? %>
    <h3>Jobs (<%= @jobs.count %>)</h3>
    <ul class="jobs">
      <%= render template: 'jobs/index' %>
    </ul>
  <% end %>
</div>
